* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underline {
  text-decoration: none;
  color: #f9f9f9;
}

.home-button-style {
  background-color: #5272f2;
  overflow: hidden;
}

.home-button-style:hover {
  border: 1px solid #b4b4b3;
  background-color: #b4b4b3;
  color: #f9f9f9;
  text-decoration: underline;
}

/* carousel-styling */
.absolute-text-carousel {
  padding: 20px 0 0 0;
  text-align: end;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(0%, -50%);
  color: white;
}
.absolute-text-carousel2 {
  padding: 20px 0 0 0;
  text-align: start;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
  color: white;
  margin: 0 auto;
}
.absolute-text-carousel3 {
  padding: 20px 0 0 0;
  text-align: start;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
  color: white;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .absolute-text-carousel {
    background-color: #000;
  }
  .absolute-text-carousel2 {
    background-color: #000;
  }
  .absolute-text-carousel3 {
    background-color: #000;
  }

  .absolute-text-carousel,
  p {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    left: unset;
    top: unset;
    padding: 2em 1em 1em;
    text-align: center;
    font-size: 13px;
  }

  .absolute-text-carousel2,
  p {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    left: unset;
    top: unset;
    padding: 2em 1em 1em;
    text-align: center;
    font-size: 13px;
  }
  .absolute-text-carousel3,
  p {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    left: unset;
    top: unset;
    padding: 2em 1em 1em;
    text-align: center;
    font-size: 13px;
  }
}

/* button of card of laptops and desktops */
.carousel-control-prev {
  width: 8%;
  font-size: 35px;
}
.carousel-control-next {
  width: 8%;
  font-size: 35px;
}


/* .img-style {
  min-height: 1000px;
  background: url("../Images_Videos/BcakG1.jpg") no-repeat center;
}

@media (max-width: 1050px) {
  .img-style {
    min-height: 1000px;
    background: url("../Images_Videos/BcakG2.jpg") no-repeat center;
  }
}

@media (max-width: 960px) {
  .img-style {
    min-height: 1000px;
    background: url("../Images_Videos/BcakG3.jpg") no-repeat center;
  }
}
@media (max-width: 580px) {
  .img-style {
    min-height: 1000px;
    background: url("../Images_Videos/BcakG4.jpg") no-repeat center;
  }
} */
