.not-allowed-cursor {
  cursor: not-allowed;
}

.top-nav-style {
  background-color: #0d1116;
  color: #f9f9f9;
}

.nav-style {
  color: #f9f9f9 !important; 
  font-size: 18px;
}

.nav-style:hover {
  color: #f9f9f9;
  font-weight: bold;
}

#nav-toggle-style-option {
  background-color: #f9f9f9;
}

.nav-offcanvas-style {
  background-color: #0d1116;
  color: #f9f9f9;
}
