* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-hover {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.img-hover #done {
  width: 100%;
  display: block;
  transition: all 1.5s ease;
}

.img-hover:hover #done {
  transform: scale(1.2);
}
