* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underline {
  text-decoration: none;
  color: #f9f9f9;
}

.home-button-style {
  background-color: #5272f2;
  overflow: hidden;
}

.home-button-style:hover {
  border: 1px solid #b4b4b3;
  background-color: #b4b4b3;
  color: #f9f9f9;
  text-decoration: underline;
}

/* carousel react js */
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

/* carousel-styling */
.absolute-text-carousel2 {
  padding: 20px 0 0 0;
  text-align: center;
  width: 30%;
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(0%, -70%);
  color: white;
  margin: 0 auto;
  font-weight: bolder;
}

@media only screen and (max-width: 1200px) {
  .absolute-text-carousel2 {
    padding: 5px;
    background-color: #000;
  }

  .absolute-text-carousel2,
  p {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    left: unset;
    top: unset;
    text-align: center;
    font-size: 15px;
    padding: 2em 0.5em 0.5em;
    margin-bottom: 1em;
  }
}

/* button of card of laptops and desktops */
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* .img-style {
  min-height: 1000px;
  background: url("../Images_Videos/BcakG1.jpg") no-repeat center;
}

@media (max-width: 1050px) {
  .img-style {
    min-height: 1000px;
    background: url("../Images_Videos/BcakG2.jpg") no-repeat center;
  }
}

@media (max-width: 960px) {
  .img-style {
    min-height: 1000px;
    background: url("../Images_Videos/BcakG3.jpg") no-repeat center;
  }
}
@media (max-width: 580px) {
  .img-style {
    min-height: 1000px;
    background: url("../Images_Videos/BcakG4.jpg") no-repeat center;
  }
} */
